<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122899906715-qbpo3mbla4r61tvldki2rht5pdf5em6u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122899906715-qbpo3mbla4r61tvldki2rht5pdf5em6u</string>
	<key>API_KEY</key>
	<string>AIzaSyCl1e1kVDVLjKmTMfm4Wkjj_ejty7Xflsk</string>
	<key>GCM_SENDER_ID</key>
	<string>122899906715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.igent.reactnativenotifmsb</string>
	<key>PROJECT_ID</key>
	<string>reactnativenotifmsb</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativenotifmsb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122899906715:ios:8af68022d8049858</string>
	<key>DATABASE_URL</key>
	<string>https://reactnativenotifmsb.firebaseio.com</string>
</dict>
</plist>